USE [master]
GO
/****** Object:  Database [dbMilitary]    Script Date: 2019/07/24 06:49:53 PM ******/
CREATE DATABASE [dbMilitary]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbMilitary', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\dbMilitary.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbMilitary_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\dbMilitary_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbMilitary].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbMilitary]
GO
/****** Object:  Table [dbo].[tblInventory]    Script Date: 2019/07/24 06:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblInventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[Item] [varchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Weight] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_tblInventory] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblJet]    Script Date: 2019/07/24 06:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblJet](
	[JetID] [int] IDENTITY(1,1) NOT NULL,
	[JetModel] [varchar](50) NOT NULL,
	[FuelTankCapacity] [int] NOT NULL,
	[Height] [decimal](18, 2) NOT NULL,
	[MaxWeight] [decimal](18, 2) NOT NULL,
	[Speed] [decimal](18, 2) NOT NULL,
	[InventoryID] [int] NOT NULL,
 CONSTRAINT [PK_tblJet] PRIMARY KEY CLUSTERED 
(
	[JetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblObstacles]    Script Date: 2019/07/24 06:49:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblObstacles](
	[ObstacleID] [int] IDENTITY(1,1) NOT NULL,
	[Desrciption] [varchar](max) NOT NULL,
	[Range] [int] NOT NULL,
 CONSTRAINT [PK_tblObstacles] PRIMARY KEY CLUSTERED 
(
	[ObstacleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tblInventory] ON 

INSERT [dbo].[tblInventory] ([InventoryID], [Item], [Quantity], [Weight]) VALUES (1, N'Scanner', 1, CAST(23.00 AS Decimal(18, 2)))
INSERT [dbo].[tblInventory] ([InventoryID], [Item], [Quantity], [Weight]) VALUES (2, N'Rockets', 4, CAST(25.55 AS Decimal(18, 2)))
INSERT [dbo].[tblInventory] ([InventoryID], [Item], [Quantity], [Weight]) VALUES (3, N'Napalm', 10, CAST(12.50 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[tblInventory] OFF
SET IDENTITY_INSERT [dbo].[tblJet] ON 

INSERT [dbo].[tblJet] ([JetID], [JetModel], [FuelTankCapacity], [Height], [MaxWeight], [Speed], [InventoryID]) VALUES (1, N'Drone', 100, CAST(17000.00 AS Decimal(18, 2)), CAST(120.00 AS Decimal(18, 2)), CAST(7000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[tblJet] ([JetID], [JetModel], [FuelTankCapacity], [Height], [MaxWeight], [Speed], [InventoryID]) VALUES (2, N'Shooter', 120, CAST(14000.00 AS Decimal(18, 2)), CAST(187.50 AS Decimal(18, 2)), CAST(9000.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[tblJet] ([JetID], [JetModel], [FuelTankCapacity], [Height], [MaxWeight], [Speed], [InventoryID]) VALUES (4, N'Bomber', 80, CAST(5000.00 AS Decimal(18, 2)), CAST(223.70 AS Decimal(18, 2)), CAST(6000.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[tblJet] OFF
SET IDENTITY_INSERT [dbo].[tblObstacles] ON 

INSERT [dbo].[tblObstacles] ([ObstacleID], [Desrciption], [Range]) VALUES (1, N'Home Base', 100)
INSERT [dbo].[tblObstacles] ([ObstacleID], [Desrciption], [Range]) VALUES (2, N'Enemy Base', 100)
INSERT [dbo].[tblObstacles] ([ObstacleID], [Desrciption], [Range]) VALUES (3, N'Cannon Defence', 200)
SET IDENTITY_INSERT [dbo].[tblObstacles] OFF
ALTER TABLE [dbo].[tblJet]  WITH CHECK ADD  CONSTRAINT [FK_tblJet_tblInventory] FOREIGN KEY([InventoryID])
REFERENCES [dbo].[tblInventory] ([InventoryID])
GO
ALTER TABLE [dbo].[tblJet] CHECK CONSTRAINT [FK_tblJet_tblInventory]
GO
USE [master]
GO
